:root {
  /* Color scheme */
  --primary-color: #007bff;
  --hover-color: #0056b3;
  --background-color: #f0f2f5;
  --text-color: #333;
  --white: #fff;

  /* Typography */
  --font-main: 'Arial', sans-serif;
  --header-font-size: 24px;
  --link-font-size: 18px;
  --button-padding-vertical: 10px;  /* Smaller vertical padding */
  --button-padding-horizontal: 20px;  /* Smaller horizontal padding */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: var(--font-main);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 95%;
  max-width: 1200px;
  background: var(--white);
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 40px;
}

header {
  background: var(--primary-color);
  color: var(--white);
  padding: 30px;
  text-align: center;
  font-size: var(--header-font-size);
}

a, button {
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: var(--button-padding-vertical) var(--button-padding-horizontal);
  border: none;
  border-radius: 8px;
  font-size: var(--link-font-size);
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  display: inline-block;
  margin: 5px;  /* Adjusted margin for better spacing */
}

a:hover, button:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
}

.module-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.module-list a {
  grid-column: span 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.module-list a:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.video-container {
  text-align: center;
  padding: 20px;
}

video {
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  outline: none;
}

.proceed-button {
  opacity: 0.5;
  visibility: visible;
  pointer-events: none;
  background-color: #ccc;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}

.video-completed .proceed-button {
  opacity: 1;
  pointer-events: auto;
  background-color: var(--primary-color);
}


@media (max-width: 768px) {
  .container {
      grid-template-columns: 1fr;
  }

  a, button {
      width: 100%;
  }
}
